@import "./_variables.scss";

.btn {
    padding: 12px 16px;
    background-color: $blue;
    color: white;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease-in-out;
    }

    &:active {
      background-color: $dark-blue;
    } 
}

.flex-1 {
    display: flex;
    flex: 1 1 0% !important;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

.relative {
    position: relative;
}


.text-danger {
    color: red;
    margin: 8px;
}

.text-blue {
  color: $blue !important;
}

input:focus::placeholder {
    color: transparent;
  }